section.padded {
  padding: 3rem 1.5rem;
}


/**
 * TYPOGRAPHY
 */
.lead {
  font-weight: 600;
}

/**
 * COMPONENTS
 * Defined here to prevent duplicating required @extend's
 * in each component
 */
.step {
  margin-bottom: 3em;

  &__title {
    @extend .title;
    @extend .is-flex;
    @extend .is-size-5;
    align-items: center;
  }

  &__num {
    @extend .is-flex;
    box-sizing: content-box;
    padding: 0.6em;
    height: 0.8em;
    width: 0.8em;
    margin-right: 0.5em;
    border-radius: 100%;
    color: $white;
    background-color: $primary;
    justify-content: center;
    align-items: center;

    &__content {
      line-height: 0.8em;
      font-size: 0.8em;
    }
  }
}

/**
 * HELPERS
 */
.is-underlined {
  text-decoration: underline !important;
}

.underline {
  border-bottom: 3px solid;

  &--red {
    border-color: $danger;
  }

  &--yellow {
    border-color: $warning;
  }
}
