section.padded {
  padding: 3rem 1.5rem;
}


/**
 * TYPOGRAPHY
 */
.lead {
  font-weight: 600;
}

/**
 * HELPERS
 */
.is-underlined {
  text-decoration: underline !important;
}

.underline {
  border-bottom: 3px solid;

  &--red {
    border-color: $danger;
  }

  &--yellow {
    border-color: $warning;
  }
}
