// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
// $primary: #8c67ef;
// $primary-invert: findColorInvert($primary);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
// $colors: (
//     "white": ($white, $black),
//     "black": ($black, $white),
//     "light": ($light, $light-invert),
//     "dark": ($dark, $dark-invert),
//     "primary": ($primary, $primary-invert),
//     "info": ($info, $info-invert),
//     "success": ($success, $success-invert),
//     "warning": ($warning, $warning-invert),
//     "danger": ($danger, $danger-invert),
// );

// Links
// $link: $primary;
// $link-invert: $primary-invert;
// $link-focus-border: $primary;

// Variables Overrides
$navbar-height: 4.5rem;
$footer-padding: 2.5em 1.5em 5em;

// Custom font stack
$family-inter: 'Inter', -apple-system, sans-serif;

// Overwrite default font stacks
$family-primary: $family-inter;
$family-secondary: $family-inter;

